doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../public/stylesheets/reset.css')
    link(rel='stylesheet', href='../public/stylesheets/style.css')
  body
    header#header-menu
      div#header-container
        a#bar-left-menu
          span#bars
        div#title Pine
        a#bar-right-menu
          img(src='../public/images/icon_settings.png')

    div#container
      div#content
        div.thread
          span 11234123412341234134asdfasdfasdfasdfad
        div.thread
        div.thread
        div.thread
        div.thread
        div.thread