doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../public/stylesheets/reset.css')
    link(rel='stylesheet', href='../public/stylesheets/style.css')
  body
    header#menu
      div#header-container
        a#bar-left-menu
          span#bars
        div#title Pine
        a#bar-right-menu

    div#load-container