doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/reset.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    header#header-menu
      #header-container
        a#bar-left-menu
          span#bars
        #title Pine
        a#bar-right-menu
          img(src='images/icon_settings.png')

    #body-container
      #thread-container

    //#config-container
    //  #config-menus
    //    a#button-latest-1-week Latest 1 week

  script(src='javascripts/jquery-2.1.1.js')
  script(src='javascripts/jquery.unveil.js')
  script(src='javascripts/script.js')