doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/reset.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    header#header-menu
      #header-container
        a#bar-left-menu
          span#bars
        #title Pine
        a#bar-right-menu
          img(src='images/icon_settings.png')

    #container
      #content
        - for (var i=0; i<maxId; i++)
          .thread(id='thread_'+(maxId-i))
            img
            span

    #config-container
      #config-menus
        a#button-latest-1-week Latest 1 week

  script(src='javascripts/jquery-1.11.1.js')
  script(src='javascripts/script.js')