body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  overflow-y scroll

#header-menu
  background white
  opacity 0.8
  position fixed
  width 100%
  top 0
  left 0
  right 0
  display block
  z-index 10

  #header-container
    padding 16px 60px
    display block

    #bar-left-menu
      position absolute
      display block
      width 26px
      height 20px
      margin-top 14px
      cursor pointer
      overflow hidden

      #bars
        background black
        position relative
        width 100%
        height 0.2em
        display block
        margin-top 9px

      #bars::before, #bars::after
        background black
        width 100%
        height 0.2em
        position absolute
        left 0
        content ''

      #bars::before
        top -7px

      #bars::after
        top 7px

    #title
      text-align center
      font-size 40px

    #bar-right-menu
      float right
      margin-top -40px
      cursor pointer

#body-container
  margin-left auto
  margin-right auto
  padding-top 80px
  width 1145px

  #thread-container
    float left
    display block
    font-size 0

#config-container
  position fixed
  top 80px
  right 60px
  width 120px
  height 200px
  visibility hidden
  overflow hidden

  #config-menus
    position absolute
    top -120px
    font-size 14px
    transition all 0.3s ease

    a
      display block
      background indianred
      opacity .4
      cursor pointer
      float left
      width 100px
      padding 10px

  #config-menus.config-menus-active
    top 0
    visibility visible

.thread
  position relative
  background whitesmoke
  width 229px
  height 229px
  display inline-block

  img
    position absolute
    width 100%
    height 100%
    transition opacity .2s ease-in

  span
    position absolute
    bottom 0
    padding 0 4px 4px 4px
    width 221px
    font-size 14px
    display block
